#wrapper-admin {
  width: 100%;
  height: 100%;

}

header#wrap-header  {
  height: 150px;
  width: 100%;
  background: #333;
  color: #FFF;
  display: table;
}

header#wrap-header section{
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

nav#wrap-nav {
  position: fixed;
  top:0;
  left:0;
  color: #ed8151;
  text-align: right;
  width: 100%;
  height: 25px;
  padding: 5px 0;
}

nav#wrap-nav a {
  color: #ed8151;
}
nav#wrap-nav li {
  float: right;
	margin: 0 10px;
	list-style-type: none;
}

div#wrap-content {
  position: relative;
  padding: 5px 50px;
}

nav#content-nav{
  position: fixed;
  top: 0;
  left:0;
  width: 150px;
  height: 100%;
  background-color: #333;
  padding-top: 150px;
}

nav#content-nav li {
  list-style: none;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}


nav#content-nav a {
  text-decoration: none;
  color: #FFF;
  display: block;
}



div#content-article {
  padding-left: 150px;
}

#admin-add input[type="text"], #admin-add input[type="date"]{
  height: 30px;
  width: 150px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
 
}
#admin-add input[type="text"]
 {
   font-size: 1.1em;
}

.fa {
  margin-right: 5px;
}

.table .table-row .table-cell {
  vertical-align: bottom;
  height: 40px;
}

#admin-add select{
  width: 100%;
  height: 30px;
}

.input-error {
  outline: 2px solid red !important;
}


#admin-search #admin-search-box-search {
  width: 100%;
  text-align: center;
}

#admin-search #admin-search-box-result{
  width: 100%;
}

#admin-search #admin-search-box-result, #admin-search #admin-search-box-result tr, #admin-search #admin-search-box-result td, #admin-search #admin-search-box-result th{
  border: 1px solid black;
  
}

#admin-search #admin-search-box-result {
  border-collapse: separate;
  border-spacing: 0;
  outline: 2px solid #FA5858 !important;
}

#wrapper-admin button {
  width: 150px;
  position: absolute;
  top: 10px;
  right: 50px;
}

#list-payment-terms .table, #list-bank-guarantee .table {
  position: relative;
}

#list-payment-terms .table:not(:first-child), #list-bank-guarantee .table:not(:first-child) {
  border-top: 1px solid black;
  margin-top: 20px;
}

#list-payment-terms i.fa.fa-minus, #list-bank-guarantee i.fa.fa-minus {
  color: red;
  cursor: pointer;
}

.search-delete-payment, .search-delete-guarantee{
  display: inline-block;
  position: absolute;
  top: 0;
  left: -15px;
  color: red;
  cursor: pointer;
}







/*
*Purchase Detail
*/

.purchase-detail .job-id{
	margin: 10px 0;
	cursor:pointer; 
	color: #ed8151;
	font-size: 1.1em;
}
.purchase-detail .job-id .fa {
	margin:0 10px;
}
.purchase-detail .job-id .fa.fa-cog {
	color: green;
}
.purchase-detail .job-id .fa.fa-trash-o {
	color: red;
}
.purchase-detail input[type="text"], .purchase-detail input[type="date"] {
  width: 200px;
  height: 30px;
}

.purchase-detail h3{
	font-size: 1em;
	margin: 12px 0;
	color: #5a5350;
}

.purchase-detail .purchase-each-detail{
	margin: 0 0 0 10px;
	color: #5a5350;
}
.purchase-detail .purchase-each-detail tr{
  height: 35px;
}

.purchase-detail .t2_desc {
	margin: 0 10px;
}

.content-search-left{
	float: left;
	width: 50%;
}

.content-search-right{
	float: right;
	width: 50%;
}

#admin-search-box-alert, #box-alert{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}

#box-alert #alert-box-payment-terms {
  position: absolute;
	z-index: 9998;
	width: 500px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -200px;
	background-color: #ecf0f1;
	border-radius: 10px;
	padding: 20px;
}


#box-alert #alert-box-payment-terms > div:last-child {
  text-align: center;
}

#box-alert #alert-box-payment-terms p {
  margin: 5px 0;
}

#box-alert #alert-box-payment-terms > div {
  text-align: center;
}

#box-alert #alert-box-payment-terms > div > select, #box-alert #alert-box-payment-terms  input {
  width: 200px;
  height: 30px;
}

#box-alert button {
  position: static;
  
}

#admin-search-box-alert > section {
	position: absolute;
	z-index: 9998;
	width: 500px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -100px;
	background-color: #ecf0f1;
	border-radius: 10px;
}

#admin-search-box-alert h3 {
	text-align: center;
	margin-top: 50px;
	font-size: 1.5em;
}
#admin-search-box-alert div {
	text-align: center;
}
#admin-search-box-alert button {
	position: static;
}

#show-save {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
	color: green;
}

