h1{
  margin: 0;  
  padding: 0;
  color: #FFFFFF;
}

h2{
  margin: 0;  
  
}
table{
	border-spacing: 2px 0;
}
table,
td,
tr {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ed8151;
	outline: none;
}

a:hover, a:focus {
	color: #e86a32;
	outline: none;
}
.currency{
	margin-left: 5px;
}
.td-colon {
	padding: 0 5px 0 0;
	vertical-align: text-top;
}

#wrap-header{
  width: 100%;
  margin: 0 auto;
	padding: 5em;
	text-align: center;
	background-color: #333;
}

#wrap-header > h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
	color: #fff;
}

#wrap-header > h1 > span{
  display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

#wrap-nav{
	width: 100%;
	padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: right;
  background-color: #333;
}

#wrap-search{
  width: 100%;
  height: 50px;
  margin: 50px 0;
}

#wrap-report {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 300px;
	background-color: #333;
}
#wrap-report > .report-panel{
	margin-top: 260px;
	height: 100%;
	width: 100%;
	padding: 0 15px;
}

/*
* Menu navigation
*/
.sub-menu {
	margin: 0 10px;
}

.sub-menu .fa {
	margin: 0 5px 0 0;
}


/*
* 
*/

.color-danger {
	color: #FA5858;
}

.color-success {
	color: #04B404;
}

/*
* Report Content
*/

.report-topics {
	margin: 50px 0;
}

.report-topics .fa {
	margin-right: 10px;
}

.report-panel {
	background-color: #333;
	float: left;
}

.report-panel label,.report-panel h3 {
	color: #FFF;
}
.report-panel p{
	margin: 5px 0;
}

.report-panel .report-month-left{
	float: left;
	width: 50%;
}

.report-panel .report-month-right{
	float: right;
	width: 50%;
}
.reports-details-years{
	margin: 8px 0 8px 30px;
	padding: 0;
	color: #ed8151;
	cursor: pointer;
	
}
.reports-details-each-details{
	margin: 8px 0 8px 70px;
	padding: 0;
	display: none;
}
.reports-details-month {
	margin: 8px 0 8px 50px;
	padding: 0;
	display:none;
	color: #ed8151;
	font-weight: bold;
	cursor: pointer;
}

.reports-details-jid {
	margin: 8px 0 8px 80px;
	display:none;
	border-bottom: 3px solid #848484;
	color: #000;
	font-weight: normal;
	cursor: default;
}
.reports-details-jid p{
	margin: 8px 0 8px 30px;
	padding: 0;
}
.reports-show-currency{
	float: right;
}
.reports-details-toggle{
	margin: 8px 0 8px 30px;
	padding: 0;
}

/*
* Search Content
*/
#front-message {
	display: inline;
	margin-right: 10px;	
}
#search-content {
  text-align: center;
  line-height: 50px;
}

#search-content #select-search , #search-content #input-search{
  height: 30px;
  width: 150px;
  margin: 10px 0;
}
.result-topics .fa {
	margin-right: 10px;
}

/*
* Main content
*/
#wrap-main{
  width: 960px;
  margin: 10px auto 0;
}

#wrap-main .p-news {
	margin: 2px 0;
}
#wrap-main .p-news > span{
	margin: 0 11px;
}

#main-news {
	text-align: center;
}

.main-topics {
	margin-bottom: 50px;
	margin-top: 50px;
}

.result-topics {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
* Main Search
*/
.content-search-left{
	float: left;
	width: 50%;
}

.content-search-right{
	float: right;
	width: 50%;
}

.td-search-term{
	border-bottom: 1px solid #EEEEEE;
}

/*
*Purchase Detail
*/

.purchase-detail .job-id{
	margin: 5px 0;
	cursor:pointer; 
	color: #ed8151;
	font-size: 1.1em;
}

.purchase-detail h3{
	font-size: 1em;
	margin: 12px 0;
	color: #5a5350;
}

.purchase-detail .purchase-each-detail{
	margin: 0 0 0 10px;
	color: #5a5350;
}

.purchase-detail .t2_desc {
	margin: 0 10px;
}

/*
* Resposive design
*/

@media screen and (max-width:493px){
	#wrap-search{
		height: auto;
		margin: 0 auto;
	}
	#front-message{
		display: block;
	}
}

@media screen and (max-width: 960px){
	#wrap-main{
		width: 100%;
	}
	
	#wrap-header{
		padding: 3em;
	}
	
	.content-search-left, .content-search-right{
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 876px){
	h1{
		font-size: 1.5em!important;
	}
}

@media screen and (max-width: 381px){
	h1{
		font-size: 1.3em!important;
	}
}

@media screen and (max-width: 320px){
	h1{
		font-size: 1em!important;
	}
}

